html {
  /* --s: 100px; */
  /* control the size */

  /* --_g: #030c1dc6 90deg, rgba(40, 50, 68, 0.781) 0;
  background:
    conic-gradient(from 90deg at 2px 2px, var(--_g)),
    conic-gradient(from 90deg at 1px 1px, var(--_g));
  background-size: var(--s) var(--s), calc(var(--s)/5) calc(var(--s)/5); */

  /* --s: 140px; */
  /* control the size */

  /* --_g: #0000 52%, #272727 54% 57%, #0000 59%;
  background:
    radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0 calc(var(--s)/2),
    radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s)/2) 0,
    radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
    radial-gradient(farthest-side at 50% -33.33%, var(--_g)),
    #0e0e0e;
  background-size: calc(var(--s)/4.667) var(--s), var(--s) calc(var(--s)/4.667); */

  background-color: gray;
}


body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 95vh;
}


#main {
  /* display: none; */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.inter {
  border: 1px solid #9e9e9e9e;
  padding: 10px;
}

#commandDiv {
  height: 65vh;
  width: 42vw;
  overflow-x: auto;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* justify-content: center; */

  background-color: rgb(39, 39, 39);
}