:root {
  --ambrosia: #FCDBBA;
  --apricot: #FF8652;
  --aubergine: #6A2352;
  --auburn: #A12F2F;
  --asparagus: #A0C259;
  --beetroot: #7F0421;
  --blue-tack: #82BFE0;
  --bloom: #363A57;
  --blush: #D67B71;
  --bronze: #C27940;
  --bud: #94C15C;
  --burnt-orange: #FF5F00;
  --butter: #F2C94C;
  --strawberry-yogurt: #E4BCAD;
  --carmine: #9A133E;
  --chocolate: #8F5D38;
  --chestnut: #81291F;
  --clay: #7D6050;
  --conker: #6F3131;
  --coral: #EB4444;
  --dusty-purple: #7D6391;
  --dusty-pink: #E4ADAD;
  --emerald: #55B95F;
  --fern: #4F8D08;
  --forest: #2E644A;
  --fudge: #C28742;
  --grassy: #A8D363;
  --green: #62B90A;
  --hazelnut: #D08E5A;
  --ink: #292C31;
  --ivory: #F2EFE3;
  --lapis: #2B4D8D;
  --leafy: #318553;
  --lemon: #EAFC7E;
  --lime: #73D645;
  --limestone: #C9C5B5;
  --magenta: #BC2767;
  --meadow: #7A9A3E;
  --melon: #F2994A;
  --midnight: #1B3955;
  --mink: #E8C9A1;
  --mint: #C4EA70;
  --moss: #7DB21C;
  --mushroom: #EDE8D5;
  --navy: #363A57;
  --orange: #FD8A04;
  --pale-lemon: #F4FFDC;
  --peach: #FFB190;
  --pond-bottom: #264A46;
  --powder-blue: #B5D0E0;
  --powder-pink: #FBD1D1;
  --primrose: #E1F7B0;
  --purple: #A95AF3;
  --purple-slate: #545375;
  --rainforest: #25422E;
  --raspberry-jam: #3C0D2B;
  --robins-egg: #B8DEE0;
  --rouge: #CC3737;
  --royal: #4169E1;
  --ruby: #D1314B;
  --sage: #87A376;
  --sakura: #FFE4E4;
  --sea-glass: #7FD1AE;
  --sea-foam: #5D998B;
  --sea-fog: #758C92;
  --slate: #7184A5;
  --spearmint: #94E0CF;
  --spring: #5ACB65;
  --succulent: #83A944;
  --twilight: #203763;
  --vavavoom: #BF0D0D;
  --white: #FFFFFF;
  --yellow: #FFE03D;

  --trans: transparent;
  --trans05: rgba(255, 255, 255, 0.05);
  --trans1: rgba(255, 255, 255, 0.1);
  --trans2: rgba(255, 255, 255, 0.2);
  --trans4: rgba(255, 255, 255, 0.4);
}

html {
  /* ----- OPTION ONE ----- */
  /* ----- OPTION ONE ----- */
  /* ----- OPTION ONE ----- */

  /* background-color: var(--limestone);
  background-image: repeating-radial-gradient(circle at 0.22em 0.5em, var(--trans), var(--trans) 0.16em, var(--ink) 0.17em, var(--ink) 0.23em, var(--trans) 0.24em, var(--trans) 0.25em), repeating-radial-gradient(circle at 0.78em 0.5em, var(--trans), var(--trans) 0.16em, var(--ink) 0.17em, var(--ink) 0.23em, var(--trans) 0.24em, var(--trans) 0.25em), repeating-radial-gradient(circle at 0.5em 0.78em, var(--trans), var(--trans) 0.16em, var(--ink) 0.17em, var(--ink) 0.23em, var(--trans) 0.24em, var(--trans) 0.25em), repeating-radial-gradient(circle at 0.5em 0.22em, var(--trans), var(--trans) 0.16em, var(--ink) 0.17em, var(--ink) 0.23em, var(--trans) 0.24em, var(--trans) 0.25em);
  background-size: 1em 1em; */

  /* ----- OPTION ONE ----- */
  /* ----- OPTION ONE ----- */
  /* ----- OPTION ONE ----- */

  /* ----- OPTION TWO ----- */
  /* ----- OPTION TWO ----- */
  /* ----- OPTION TWO ----- */

  background:
    radial-gradient(#aeaeae 3px, transparent 4px),
    radial-gradient(#aeaeae 3px, transparent 4px),
    linear-gradient(rgb(50, 50, 50) 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    rgb(50, 50, 50);
  background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

  /* ----- OPTION TWO ----- */
  /* ----- OPTION TWO ----- */
  /* ----- OPTION TWO ----- */

  /* ----- OPTION THREE ----- */
  /* ----- OPTION THREE ----- */
  /* ----- OPTION THREE ----- */

  /* background:
    radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 9%, hsla(0, 100%, 20%, 0) 9%) 0 0,
    radial-gradient(hsl(0, 100%, 27%) 4%, hsl(0, 100%, 18%) 8%, hsla(0, 100%, 20%, 0) 10%) 50px 50px,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 50px 0,
    radial-gradient(hsla(0, 100%, 30%, 0.8) 20%, hsla(0, 100%, 20%, 0)) 0 50px,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 50px 0,
    radial-gradient(hsla(0, 100%, 20%, 1) 35%, hsla(0, 100%, 20%, 0) 60%) 100px 50px,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 0 0,
    radial-gradient(hsla(0, 100%, 15%, 0.7), hsla(0, 100%, 20%, 0)) 50px 50px,
    linear-gradient(45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0,
    linear-gradient(-45deg, hsla(0, 100%, 20%, 0) 49%, hsla(0, 100%, 0%, 1) 50%, hsla(0, 100%, 20%, 0) 70%) 0 0;
  background-color: #300;
  background-size: 100px 100px; */

  /* ----- OPTION THREE ----- */
  /* ----- OPTION THREE ----- */
  /* ----- OPTION THREE ----- */

  /* ----- OPTION FOUR ----- */
  /* ----- OPTION FOUR ----- */
  /* ----- OPTION FOUR ----- */

  /* --s: 100px;
  --c1: #CC2A41;
  --c2: #351330;

  --_g: #0000 24%,
    var(--c2) 26% 34%, var(--c1) 36% 44%,
    var(--c2) 46% 54%, var(--c1) 56% 64%,
    var(--c2) 66% 74%, #0000 76%;
  background:
    radial-gradient(100% 100% at 100% 0, var(--_g)),
    radial-gradient(100% 100% at 0 100%, var(--_g)),
    radial-gradient(var(--c2) 14%, var(--c1) 16%) calc(var(--s)/2) calc(var(--s)/2);
  background-size: var(--s) var(--s); */

  /* ----- OPTION FOUR ----- */
  /* ----- OPTION FOUR ----- */
  /* ----- OPTION FOUR ----- */

}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 95vh;
}

#main {
  /* display: none; */
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.inter {
  border: 5px double #9e9e9e9e;
  padding: 10px;
}

#commandDiv {
  height: 65vh;
  width: 42vw;
  overflow-x: auto;
  overflow-y: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* justify-content: center; */

  background-color: rgb(39, 39, 39);
}